<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            
            <MudGrid>
                <MudItem xs="12">
                    <MudDatePicker @bind-Date="uidForm.Date" Label="Expiry Date" Required="true" RequiredError="Expiray Date is required!" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="int" @bind-Value="uidForm.QTY" Label="Input Qty. of Same Expiry" Required="true" RequiredError="Input QTY is required!" />
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-end">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Generate UID</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Cancel() => MudDialog.Cancel();

    // Form Ref
    MudForm form;
    bool success;
    string[] errors = { };

    // Input Data Bind
    public UIDForm uidForm = new UIDForm();


    // Form Class
    public class UIDForm
    {
        public DateTime? Date { get; set; }
        public int QTY { get; set; }
    }
}
