@using Carnesia.Domain.WMS.TrackUID
@inject IPurchaseOrder _order
@inject ISnackbar _snackbar
<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            
            <MudGrid>
                @if (withoutExp == false)
                {
                    <MudItem xs="12">
                        <MudDatePicker @bind-Date="uidForm.expDate" Label="Expiry Date" Required="true" RequiredError="Expiray Date is required!" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="int" @bind-Value="uidForm.generateuidQty" Label="Input Qty. of Same Expiry" Required="true" RequiredError="Input QTY is required!" />
                    </MudItem>
                }

                <MudItem xs="12">
                    <MudCheckBox @bind-Checked="@withoutExp" Label="Without Exp Date" Color="Color.Primary"></MudCheckBox>
                </MudItem>

                <MudItem xs="12">
                    <div class="d-flex justify-end">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GenerateUID">Generate UID</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string PoCode { get; set; }

    [Parameter]
    public string ProductCode { get; set; }

    // Without Exp Date
    private bool withoutExp { get; set; }

    void Cancel() => MudDialog.Cancel();

    // Form Ref
    MudForm form;
    bool success;
    string[] errors = { };

    // Input Data Bind
    public UIDPoco uidForm = new UIDPoco();

    private async Task GenerateUID()
    {
        //_snackbar.Add(PoCode);
        //_snackbar.Add(ProductCode);
        uidForm.poCode = PoCode;
        uidForm.productCode = ProductCode;       
        var result = await _order.GenerateUID(uidForm);
        _snackbar.Add("OK");
        MudDialog.Cancel();
        
    }


}
