@using Carnesia.Domain.WMS.TrackUID
@inject IPurchaseOrder _order
@inject ISnackbar _snackbar
<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            
            <MudGrid>
                    <MudItem xs="12">
                        <MudDatePicker @bind-Date="uidForm.expDate" Label="Expiry Date" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="int" @bind-Value="uidForm.generateuidQty" Label="Input Qty. of Same Expiry" Required="true" RequiredError="Input QTY is required!" />
                    </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-end">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="!success || DisableButton" OnClick="GenerateUID">Generate UID</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    // Disable Button
    private bool DisableButton { get; set; }

    [Parameter]
    public string PoCode { get; set; }

    [Parameter]
    public string ProductCode { get; set; }
    [Parameter]
    public int Qty { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok<UIDPoco>(uidForm));
    void Cancel() => MudDialog.Cancel();

    // Form Ref
    MudForm form;
    bool success;
    string[] errors = { };

    // Input Data Bind
    public UIDPoco uidForm = new UIDPoco();

    private async Task GenerateUID()
    {
        DisableButton = true;
        //_snackbar.Add(PoCode);
        //_snackbar.Add(ProductCode);
        if(Qty < uidForm.generateuidQty)
        {
            _snackbar.Add("Input value bigger than Left UID Qty!",  Severity.Error);
            DisableButton = false;
        }
        else
        {
            uidForm.poCode = PoCode;
            uidForm.productCode = ProductCode;
            uidForm = await _order.GenerateUID(uidForm);
            _snackbar.Add("UID Generated Successfully!", Severity.Success );
            DisableButton = false;
            Close();
        }

    }


}
