
<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField T="string" Label="Name" Immediate="true" Required="true" RequiredError="Name is required!"/>
                <MudTextField T="string" Label="Phone Number" Immediate="true" Required="true" RequiredError="Phone Number is required!"/>
                <MudTextField T="string" Label="Address" Immediate="true" Required="true" RequiredError="Address is required!"/>
                <MudTextField T="string" Label="Zone" Immediate="true" Required="true" RequiredError="Zone is required!"/>
                <MudTextField T="string" Label="City" Immediate="true" Required="true" RequiredError="City is required!"/>
                <MudTextField T="string" Label="Enter Membership Card (if any)" Immediate="true"/>

                <div class="d-flex justify-end my-5">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Submit</MudButton>
                </div>
        </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    // Form Ref
    bool success;
    string[] errors = { };
    MudForm form;
}
