@layout LoginLayout
@page "/"
@inject NavigationManager NavigationManager

<MudPaper Class="pa-16">
	<MudText>Login To Carneshia Dashboard</MudText>
	<MudForm>
		<MudGrid>
			<MudItem md="12">
				<MudTextField T="string" Label="Username" Required="true" RequiredError="Username is required!"/>
			</MudItem>
			<MudItem md="12">
				<MudTextField T="string" Label="Password" Required="true" RequiredError="Password is required!"/>
			</MudItem>
		</MudGrid>
		<div class="d-flex justify-end mt-5">
			<MudButton OnClick="LoginUser" Color="Color.Primary" Variant="Variant.Filled">Login</MudButton>
		</div>
	</MudForm>
</MudPaper>

@code {
	private void LoginUser()
	{
		NavigationManager.NavigateTo("/po-management");
	}
}
