@layout PrintLayout
@page "/picklist-print"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.BarcodeGenerator

<div style="width: 210mm; margin: 0 auto;">
	<div>
		<p>Piclist ID: 12345678</p>
		<p>Created on: 06-Jun-22 12:00:00 PM</p>
		<p>Created by: Sakib Al Hasan</p>
		<p>Picklist Type: Transfer Order</p>
		<p>TO ID: 34564</p>
		<p>Total Quantity: 50</p>
	</div>

	<div style="width: 35%; margin: 10px auto;">
		<SfBarcodeGenerator Value="12345678" Height="60px">
			<BarcodeGeneratorDisplayText Text="" Size="12" Alignment="Alignment.Center" Position="TextPosition.Bottom">
			</BarcodeGeneratorDisplayText>
		</SfBarcodeGenerator>
	</div>

	<table style="width: 100%; border-collapse: collapse;">
		<tr style="font-size: 14px;">
			<th style="width: 40px" class="table-cell">SL</th>
			<th class="table-cell">Product Code</th>
			<th class="table-cell">SKU</th>
			<th class="table-cell">Product Name</th>
			<th class="table-cell">Quantity</th>
			<th class="table-cell">Bin Number</th>
			<th class="table-cell">Remarks</th>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
		<tr style="font-size: 12px;">
			<td class="table-cell">9999</td>
			<td class="table-cell">1002998</td>
			<td class="table-cell">10181053351</td>
			<td class="table-cell">Palmer's Shea Formula With Vitamin E Raw Shea Hand Cream 60G</td>
			<td class="table-cell">1000</td>
			<td class="table-cell">F1R1C1RA1S1B1</td>
			<td class="table-cell">1000</td>
		</tr>
	</table>

	<MudGrid Class="mt-5">
		<MudItem xs="4">
			<p>Picked by........................</p>
		</MudItem>
		<MudItem xs="4">
			<p>Packed by........................</p>
		</MudItem>
		<MudItem xs="4">
			<p>Received by........................</p>
		</MudItem>
	</MudGrid>
</div>

@code {

}
