@layout PrintLayout
@page "/print-label"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.BarcodeGenerator


<div class="d-flex flex-wrap" style="width: 100%;">
	<div class="d-flex align-center" style="width:50%;" >
		<img class="d-block ms-auto" style="width: 10%" src="./bsti-ai.png" alt="" />
	</div>
	<div class="me-auto" style="width:50%;">
		<p>Importer</p>
		<p>Arham Trade International</p>
		<p>House- 55/1, Road-7</p>
		<p>Block- B, Lalmatia, Dhaka.</p>
		<p>MRP- Taka 250.00</p>
		<p>EXP- 10/24</p>
	</div>
	<div style="width:100%">
		<div style="width:fit-content; margin: 0 auto;">
			<SfBarcodeGenerator Value="123456789012345"  Width="250px" Height="100px" ></SfBarcodeGenerator>
		</div>
	</div>
</div>
<button class="no-print" onclick="window.print()">Print</button>




@code {
	
}
