<MudNavMenu>
    <MudNavLink Href="/dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>

    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">WMS</MudText>
    </div>

    <MudNavGroup Title="Inbound Management" Expanded="false">
        <MudNavLink Href="/po-management" Match="NavLinkMatch.Prefix">PO Management</MudNavLink>
        <MudNavLink Href="/stock-relocation" Match="NavLinkMatch.Prefix">Stock Relocation</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Stock Transfer" Expanded="false">
        <MudNavLink Href="/to-management" Match="NavLinkMatch.Prefix">TO Management</MudNavLink>
        <MudNavLink Href="/manage-to" Match="NavLinkMatch.Prefix">Manage TO</MudNavLink>
        <MudNavLink Href="/putaway" Match="NavLinkMatch.Prefix">Putaway</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Return Management" Expanded="false">
        <MudNavLink Href="/return-acknowledgement" Match="NavLinkMatch.Prefix">Return Acknowledgement</MudNavLink>
        <MudNavLink Href="/vendor-return" Match="NavLinkMatch.Prefix">Vendor Return</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Cycle Count" Expanded="false">
        <MudNavLink Href="/counting-report" Match="NavLinkMatch.Prefix">Counting Report</MudNavLink>
    </MudNavGroup>
    
    <MudNavLink Href="/report" Match="NavLinkMatch.Prefix">Report</MudNavLink>

    <MudNavLink Href="/bin-management" Match="NavLinkMatch.Prefix">BIN Management</MudNavLink>

    <MudNavGroup Title="Vendor Management" Expanded="false">
        <MudNavLink Href="/vendor" Match="NavLinkMatch.Prefix">Vendor</MudNavLink>
    </MudNavGroup>
   
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">CMS</MudText>
    </div>
    <MudNavGroup Title="Products" Expanded="false">
        <MudNavLink Href="/product" Match="NavLinkMatch.Prefix">Product</MudNavLink>
    </MudNavGroup>

    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">OMS</MudText>
    </div>
    <MudNavGroup Title="Order Management" Expanded="false">
        <MudNavLink Href="/pending-order" Match="NavLinkMatch.Prefix">Pending Order</MudNavLink>
        <MudNavLink Href="/order-details" Match="NavLinkMatch.Prefix">Order Details</MudNavLink>
        <MudNavLink Href="/closed-orders" Match="NavLinkMatch.Prefix">Closed Orders</MudNavLink>
        <MudNavLink Href="/place-order" Match="NavLinkMatch.Prefix">Place Order</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Order Processing" Expanded="false">
        <MudNavLink Href="/picklist" Match="NavLinkMatch.Prefix">Picklist</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Outbound" Expanded="false">
        <MudNavLink Href="/assign-delivery" Match="NavLinkMatch.Prefix">Assign Delivery</MudNavLink>
        <MudNavLink Href="/manage-run" Match="NavLinkMatch.Prefix">Manage Run</MudNavLink>
    </MudNavGroup>

    <MudNavLink Href="/return-management" Match="NavLinkMatch.Prefix">Return Management</MudNavLink>

    <MudNavGroup Title="Report" Expanded="false">
        <MudNavLink Href="/all-orders" Match="NavLinkMatch.Prefix">All Orders</MudNavLink>
        <MudNavLink Href="/tat-report" Match="NavLinkMatch.Prefix">TAT Report</MudNavLink>
        <MudNavLink Href="/feedback-report" Match="NavLinkMatch.Prefix">Feedback Report</MudNavLink>
    </MudNavGroup>

    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">HRM</MudText>
    </div>

    <MudNavGroup Title="Adminastration" Expanded="false">
        <MudNavLink Href="/user-account" Match="NavLinkMatch.Prefix">User Account</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
