@inject ILocalStorageService _storage

<MudNavMenu>
    @*<div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">App</MudText>
    </div>*@
    <MudNavLink Href="/dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    @*<MudNavLink Href="/pos" Match="NavLinkMatch.All">POS</MudNavLink>*@

    @*MIS*@
    @if (new List<string> { "Admin", "Head of Department - Ops", "Management", "Executive-Accounts", "Manager-Accounts", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive", "Executive - Procurement", "Manager - Procurement", "Manager - WH" }.Contains(role))
    {
        <div class="d-flex justify-center mt-5">
            <MudText Class="border-2 px-4 py-1">MIS</MudText>
        </div>
    }

    @if (new List<string> { "Admin", "Head of Department - Ops", "Management", "Executive-Accounts", "Manager-Accounts", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavLink Href="/analytics" Match="NavLinkMatch.Prefix">Analytics</MudNavLink>
    }
    @if (new List<string> { "Admin", "Head of Department - Ops", "Management", "Executive-Accounts", "Manager-Accounts", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive" }.Contains(role))
    {
        <MudNavLink Href="/sales-report" Match="NavLinkMatch.Prefix">Sales Report</MudNavLink>
    }
    @if (new List<string> { "Admin", "Head of Department - Ops", "Executive - Procurement", "Manager - Procurement", "Management", "Executive-Accounts", "Manager-Accounts", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive" }.Contains(role))
    {
        <MudNavLink Href="/revenue-report" Match="NavLinkMatch.Prefix">Revenue Report</MudNavLink>
    }
    @if (new List<string> { "Admin", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavLink Href="/product-sales-report" Match="NavLinkMatch.Prefix">Product Sales Report</MudNavLink>
    }
    @if (new List<string> { "Admin", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavLink Href="/procurement-report" Match="NavLinkMatch.Prefix">Procurment Report</MudNavLink>
    }

    @*Accounts & Finance*@
    @if (new List<string> { "Admin", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Executive-Accounts", "Manager-Accounts", "Manager-HR", "Executive-HR", "Senior Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <div class="d-flex justify-center mt-5">
            <MudText Class="border-2 px-4 py-1">Accounts & Finance</MudText>
        </div>
    }

    @if (new List<string> { "Admin", "Head of Department - Ops", "Manager - WH", "Management", "Executive-Accounts", "Manager-Accounts", "Manager-HR", "Executive-HR", "Senior Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavLink Href="/receivable" Match="NavLinkMatch.Prefix">Receivable</MudNavLink>
    }
    @if (new List<string> { "Admin", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Executive-Accounts", "Manager-Accounts", "Manager-HR", "Executive-HR", "Senior Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavLink Href="/bank" Match="NavLinkMatch.Prefix">Bank</MudNavLink>
        <MudNavLink Href="/stores" Match="NavLinkMatch.Prefix">Stores</MudNavLink>
        <MudNavLink Href="/store-vattrack" Match="NavLinkMatch.Prefix">Store Vat Track</MudNavLink>
    }


    @*WMS*@
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Executive - Marketing", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate", "Executive - CS", "Executive - CRM", "Executive - CMS", "Executive-Accounts", "Manager-Accounts" }.Contains(role))
    {
        <div class="d-flex justify-center mt-5">
            <MudText Class="border-2 px-4 py-1">WMS</MudText>
        </div>
    }
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Executive - Marketing", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate" }.Contains(role))
    {
        <MudNavGroup Title="Inbound Management" Expanded="false">
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Executive - Marketing" }.Contains(role))
            {
                <MudNavLink Href="/po-management" Match="NavLinkMatch.Prefix">PO Management</MudNavLink>
            }
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
            {
                <MudNavLink Href="/stock-relocation" Match="NavLinkMatch.Prefix">Stock Relocation</MudNavLink>
            }
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate" }.Contains(role))
            {
                <MudNavLink Href="/putaway" Match="NavLinkMatch.Prefix">Putaway</MudNavLink>
            }
        </MudNavGroup>
    }

    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate" }.Contains(role))
    {
        <MudNavGroup Title="Stock Transfer" Expanded="false">
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
            {
                <MudNavLink Href="/create-to" Match="NavLinkMatch.Prefix">Create TO</MudNavLink>
            }
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate" }.Contains(role))
            {
                <MudNavLink Href="/manage-to" Match="NavLinkMatch.Prefix">Manage TO</MudNavLink>
            }
            @*@if (new List<string> { "Admin", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Inventory Associate - WH" }.Contains(role))
        {
        <MudNavLink Href="/to-suggestions" Match="NavLinkMatch.Prefix">To Suggestions</MudNavLink>
        }*@
        </MudNavGroup>
    }

    @*<MudNavGroup Title="Return Management" Expanded="false">
    <MudNavLink Href="/return-acknowledgement" Match="NavLinkMatch.Prefix">Return Acknowledgement</MudNavLink>
    <MudNavLink Href="/vendor-return" Match="NavLinkMatch.Prefix">Vendor Return</MudNavLink>
    </MudNavGroup>*@

    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate" }.Contains(role))
    {
        <MudNavGroup Title="Cycle Count" Expanded="false">
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Outlet Experience Executive", "Retail Team Leader", "Customer Service Associate" }.Contains(role))
            {
                <MudNavLink Href="/counting-report" Match="NavLinkMatch.Prefix">Counting Project</MudNavLink>
            }
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
            {
                <MudNavLink Href="/update-uid" Match="NavLinkMatch.Prefix">Update UID</MudNavLink>
            }
            @*<MudNavLink Href="/remove-uid" Match="NavLinkMatch.Prefix">Remove UID</MudNavLink>*@
        </MudNavGroup>
    }
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS", "Outlet Experience Manager", "Customer Service Associate" }.Contains(role))
    {
        <MudNavLink Href="/report" Match="NavLinkMatch.Prefix">Report</MudNavLink>
    }

    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavLink Href="/bin-management" Match="NavLinkMatch.Prefix">BIN Management</MudNavLink>
    }
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Executive-Accounts", "Manager-Accounts", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
    {
        <MudNavGroup Title="Vendor Management" Expanded="false">
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Executive-Accounts", "Manager-Accounts", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
            {
                <MudNavLink Href="/vendor" Match="NavLinkMatch.Prefix">Vendor</MudNavLink>
            }
        </MudNavGroup>
    }


    @*CMS*@
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">CMS</MudText>
    </div>
    @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <MudNavGroup Title="Home Page" Expanded="false">
            @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
            {
                <MudNavLink Href="/full-width-banner" Match="NavLinkMatch.Prefix">Full Width Banner</MudNavLink>
                <MudNavLink Href="/gif-banner" Match="NavLinkMatch.Prefix">Gif Banner</MudNavLink>
                <MudNavLink Href="/home-carousel" Match="NavLinkMatch.Prefix">Home Carousel</MudNavLink>
                <MudNavLink Href="/under-carousel-banner" Match="NavLinkMatch.Prefix">Under Carousel Banner</MudNavLink>
                <MudNavLink Href="/homepage-section" Match="NavLinkMatch.Prefix">Homepage Section </MudNavLink>
                <MudNavLink Href="/bunch-section" Match="NavLinkMatch.Prefix">Bunch Section </MudNavLink>
            }
        </MudNavGroup>
    }


    <MudNavGroup Title="Brand Management" Expanded="false">
        <MudNavLink Href="/brand" Match="NavLinkMatch.Prefix">Brand</MudNavLink>
        <MudNavLink Href="/banner-brand" Match="NavLinkMatch.Prefix">Brand Banner</MudNavLink>
    </MudNavGroup>
    @if (new List<string> { "Admin", "Head of Department - Ops", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <MudNavGroup Title="Campaign Management" Expanded="false">
            @if (new List<string> { "Admin", "Head of Department - Ops", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
            {
                <MudNavLink Href="/create-campaign" Match="NavLinkMatch.Prefix">Create Campaign</MudNavLink>
                <MudNavLink Href="/campaign-list" Match="NavLinkMatch.Prefix">Campaign List</MudNavLink>
            }
            @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
            {
                <MudNavLink Href="/campaign-carousel" Match="NavLinkMatch.Prefix">Campaign Carousel</MudNavLink>
                <MudNavLink Href="/campaign-section" Match="NavLinkMatch.Prefix">Campaign Section</MudNavLink>
                <MudNavLink Href="/campaign-banner" Match="NavLinkMatch.Prefix">Campaign Banner</MudNavLink>

                <MudNavLink Href="/bunch" Match="NavLinkMatch.Prefix">Bunch</MudNavLink>
                <MudNavLink Href="/create-bunch" Match="NavLinkMatch.Prefix">Create Bunch</MudNavLink>

                <MudNavLink Href="/combo-list" Match="NavLinkMatch.Prefix">Combo</MudNavLink>
                <MudNavLink Href="/create-combo" Match="NavLinkMatch.Prefix">Create Combo</MudNavLink>
                <MudNavLink Href="/bogo-combo-banner" Match="NavLinkMatch.Prefix">Bogo Combo Banner</MudNavLink>
            }
        </MudNavGroup>
    }


    @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <MudNavGroup Title="Payment Offer" Expanded="false">
            <MudNavLink Href="/side-text" Match="NavLinkMatch.Prefix">Side Text</MudNavLink>
            <MudNavLink Href="/Checkout-text" Match="NavLinkMatch.Prefix">Checkout Text</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Offer Banner" Expanded="false">
            <MudNavLink Href="/product-page-banner" Match="NavLinkMatch.Prefix">Product Page Banner</MudNavLink>
            <MudNavLink Href="/search-page-banner" Match="NavLinkMatch.Prefix">Search Page Banner</MudNavLink>
        </MudNavGroup>
    }

    @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH" }.Contains(role))
    {
        <MudNavGroup Title="Product Management" Expanded="false">
            @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
            {
                <MudNavLink Href="/category" Match="NavLinkMatch.Prefix">Category</MudNavLink>
            }
            @if (new List<string> { "Admin", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
            {
                <MudNavLink Href="/parent-product" Match="NavLinkMatch.Prefix">Parent Product</MudNavLink>
                <MudNavLink Href="/bulk-parent-product" Match="NavLinkMatch.Prefix">Bulk Parent Product</MudNavLink>
                <MudNavLink Href="/create-compound-product" Match="NavLinkMatch.Prefix">Create Compound Product</MudNavLink>
                <MudNavLink Href="/create-simple-product" Match="NavLinkMatch.Prefix">Create Simple Product</MudNavLink>
                <MudNavLink Href="/create-bulk-product" Match="NavLinkMatch.Prefix">Create Bulk Product</MudNavLink>
                <MudNavLink Href="/bulk-image-upload" Match="NavLinkMatch.Prefix">Bulk Image Upload</MudNavLink>
                <MudNavLink Href="/bulk-category-upload" Match="NavLinkMatch.Prefix">Bulk Category Upload</MudNavLink>
                <MudNavLink Href="/product-list" Match="NavLinkMatch.Prefix">Product List</MudNavLink>
                <MudNavLink Href="/product-quick-setting" Match="NavLinkMatch.Prefix">Product Quick Settings</MudNavLink>
                <MudNavLink Href="/product-approve" Match="NavLinkMatch.Prefix">Product Approve</MudNavLink>
                <MudNavLink Href="/sku-track" Match="NavLinkMatch.Prefix">Track SKU</MudNavLink>
            }
        </MudNavGroup>
    }


    @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <MudNavGroup Title="Blog Management" Expanded="false">
            <MudNavLink Href="/create-blogpost" Match="NavLinkMatch.Prefix">Create Blog</MudNavLink>
            <MudNavLink Href="/blog-list" Match="NavLinkMatch.Prefix">Blog List</MudNavLink>
        </MudNavGroup>
    }





    @*CRM*@
    @if (new List<string> { "Admin", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <div class="d-flex justify-center mt-5">
            <MudText Class="border-2 px-4 py-1">CRM</MudText>
        </div>
        <MudNavGroup Title="Vouchers" Expanded="false">
            <MudNavLink Href="/auto-apply" Match="NavLinkMatch.Prefix">Auto Apply</MudNavLink>
            <MudNavLink Href="/general-voucher" Match="NavLinkMatch.Prefix">General Voucher</MudNavLink>
            <MudNavLink Href="/instant-voucher" Match="NavLinkMatch.Prefix">Instant Voucher</MudNavLink>
            <MudNavLink Href="/product-voucher" Match="NavLinkMatch.Prefix">Product Voucher</MudNavLink>
            <MudNavLink Href="/user-voucher" Match="NavLinkMatch.Prefix">User Voucher</MudNavLink>
            <MudNavLink Href="/store-voucher" Match="NavLinkMatch.Prefix">Store Voucher</MudNavLink>
        </MudNavGroup>
    }



    @*OMS*@
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS", "Executive - Procurement", "Manager - Procurement" }.Contains(role))
    {
        <div class="d-flex justify-center mt-5">
            <MudText Class="border-2 px-4 py-1">OMS</MudText>
        </div>
    }
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <MudNavGroup Title="Order Management" Expanded="false">
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Executive - Procurement", "Manager - Procurement", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
            {
                <MudNavLink Href="/pending-order" Match="NavLinkMatch.Prefix">Pending Order</MudNavLink>
                <MudNavLink Href="/hold-order" Match="NavLinkMatch.Prefix">Hold Order</MudNavLink>
                <MudNavLink Href="/order-details" Match="NavLinkMatch.Prefix">Order Details</MudNavLink>
                <MudNavLink Href="/closed-orders" Match="NavLinkMatch.Prefix">Closed Orders</MudNavLink>
                <MudNavLink Href="/place-order" Match="NavLinkMatch.Prefix">Place Order</MudNavLink>
                <MudNavLink Href="/draft-orders" Match="NavLinkMatch.Prefix">Draft Orders</MudNavLink>
                <MudNavLink Href="/order-track" Match="NavLinkMatch.Prefix">Order Track</MudNavLink>
            }
        </MudNavGroup>
    }

    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing" }.Contains(role))
    {
        <MudNavGroup Title="Order Processing" Expanded="false">
            <MudNavLink Href="/picklist" Match="NavLinkMatch.Prefix">Picklist</MudNavLink>
        </MudNavGroup>
    }
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing" }.Contains(role))
    {
        <MudNavGroup Title="Outbound" Expanded="false">
            <MudNavLink Href="/assign-delivery" Match="NavLinkMatch.Prefix">Assign Delivery</MudNavLink>
            <MudNavLink Href="/manage-run" Match="NavLinkMatch.Prefix">Manage Run</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/return-management" Match="NavLinkMatch.Prefix">Return Management</MudNavLink>
        <MudNavGroup Title="Report" Expanded="false">
            <MudNavLink Href="/all-orders" Match="NavLinkMatch.Prefix">All Orders</MudNavLink>
            <MudNavLink Href="/tat-report" Match="NavLinkMatch.Prefix">TAT Report</MudNavLink>
            <MudNavLink Href="/feedback-report" Match="NavLinkMatch.Prefix">Feedback Report</MudNavLink>
        </MudNavGroup>
    }
    @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Senior Executive - Marketing", "Executive - Marketing", "Executive - CS", "Executive - CRM", "Marketing Manager", "Head of Marketing", "Executive - CMS" }.Contains(role))
    {
        <MudNavLink Href="/zones" Match="NavLinkMatch.Prefix">Zones</MudNavLink>
    }

    @*HRM*@
    @if (new List<string> { "Admin", "Head of Department - Ops", "Manager - WH", "Manager - Procurement", "Management", "Manager-HR", "Executive-HR", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH" }.Contains(role))
    {
        <div class="d-flex justify-center mt-5">
            <MudText Class="border-2 px-4 py-1">HRM</MudText>
        </div>
    }
    @if (new List<string> { "Admin", "Head of Department - Ops", "Manager - WH", "Manager - Procurement", "Management", "Manager-HR", "Executive-HR", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH" }.Contains(role))
    {
        <MudNavGroup Title="Adminastration" Expanded="false">
            @if (new List<string> { "Admin", "Head of Department - Ops", "Manager - WH", "Manager - Procurement", "Management", "Manager-HR", "Executive-HR", "Marketing Manager", "Head of Marketing", "Outlet Experience Manager" }.Contains(role))
            {
                <MudNavLink Href="/user-account" Match="NavLinkMatch.Prefix">User Account</MudNavLink>
            }
            @if (new List<string> { "Admin", "Inventory Associate - WH", "Executive - WH", "Sr. Executive - WH", "Head of Department - Ops", "Manager - WH", "Management", "Marketing Manager", "Head of Marketing" }.Contains(role))
            {
                <MudNavLink Href="/fleet-management" Match="NavLinkMatch.Prefix">Fleet Management</MudNavLink>
                <MudNavLink Href="/hub-management" Match="NavLinkMatch.Prefix">Hub Management</MudNavLink>
            }
        </MudNavGroup>
    }
</MudNavMenu>

@code {

    // Page On Load
    protected override async Task OnInitializedAsync()
    {
        role = await _storage.GetItemAsStringAsync("role");
    }

    private string role { get; set; }
}
