<MudNavMenu>
    <MudNavLink Href="/dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>

    @*WMS*@
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">WMS</MudText>
    </div>

    <MudNavGroup Title="Inbound Management" Expanded="false">
        <MudNavLink Href="/po-management" Match="NavLinkMatch.Prefix">PO Management</MudNavLink>
        <MudNavLink Href="/stock-relocation" Match="NavLinkMatch.Prefix">Stock Relocation</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Stock Transfer" Expanded="false">
        <MudNavLink Href="/create-to" Match="NavLinkMatch.Prefix">Create TO</MudNavLink>
        <MudNavLink Href="/manage-to" Match="NavLinkMatch.Prefix">Manage TO</MudNavLink>
        <MudNavLink Href="/putaway" Match="NavLinkMatch.Prefix">Putaway</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Return Management" Expanded="false">
        <MudNavLink Href="/return-acknowledgement" Match="NavLinkMatch.Prefix">Return Acknowledgement</MudNavLink>
        <MudNavLink Href="/vendor-return" Match="NavLinkMatch.Prefix">Vendor Return</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Cycle Count" Expanded="false">
        <MudNavLink Href="/counting-report" Match="NavLinkMatch.Prefix">Counting Report</MudNavLink>
    </MudNavGroup>
    
    <MudNavLink Href="/report" Match="NavLinkMatch.Prefix">Report</MudNavLink>

    <MudNavLink Href="/bin-management" Match="NavLinkMatch.Prefix">BIN Management</MudNavLink>

    <MudNavGroup Title="Vendor Management" Expanded="false">
        <MudNavLink Href="/vendor" Match="NavLinkMatch.Prefix">Vendor</MudNavLink>
    </MudNavGroup>
   
    @*CMS*@
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">CMS</MudText>
    </div>

    <MudNavGroup Title="Home Page" Expanded="false">
        <MudNavLink Href="/full-width-banner" Match="NavLinkMatch.Prefix">Full Width Banner</MudNavLink>
        <MudNavLink Href="/gif-banner" Match="NavLinkMatch.Prefix">Gif Banner</MudNavLink>
        <MudNavLink Href="/home-carousel" Match="NavLinkMatch.Prefix">Home Carousel</MudNavLink>
        <MudNavLink Href="/under-carousel-banner" Match="NavLinkMatch.Prefix">Under Carousel Banner</MudNavLink>
        <MudNavLink Href="/homepage-section" Match="NavLinkMatch.Prefix">Homepage Section </MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Brand Management" Expanded="false">
        <MudNavLink Href="/brand" Match="NavLinkMatch.Prefix">Brand</MudNavLink>
        <MudNavLink Href="/brand-banner" Match="NavLinkMatch.Prefix">Brand Banner</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Campaign Management" Expanded="false">
        <MudNavLink Href="/create-campaign" Match="NavLinkMatch.Prefix">Create Campaign</MudNavLink>
        <MudNavLink Href="/campaign-list" Match="NavLinkMatch.Prefix">Campaign List</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Product Management" Expanded="false">
        <MudNavLink Href="/category" Match="NavLinkMatch.Prefix">Category</MudNavLink>
        <MudNavLink Href="/parent-product" Match="NavLinkMatch.Prefix">Parent Product</MudNavLink>
        <MudNavLink Href="/bulk-parent-product" Match="NavLinkMatch.Prefix">Bulk Parent Product</MudNavLink>
        <MudNavLink Href="/create-compound-product" Match="NavLinkMatch.Prefix">Create Compound Product</MudNavLink>
        <MudNavLink Href="/create-simple-product" Match="NavLinkMatch.Prefix">Create Simple Product</MudNavLink>
        <MudNavLink Href="/create-bulk-product" Match="NavLinkMatch.Prefix">Create Bulk Product</MudNavLink>
        <MudNavLink Href="/bulk-image-upload" Match="NavLinkMatch.Prefix">Bulk Image Upload</MudNavLink>
        <MudNavLink Href="/bulk-category-upload" Match="NavLinkMatch.Prefix">Bulk Category Upload</MudNavLink>
        <MudNavLink Href="/product-list" Match="NavLinkMatch.Prefix">Product List</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Blog Management" Expanded="false">
        <MudNavLink Href="/create-blogpost" Match="NavLinkMatch.Prefix">Create Blog</MudNavLink>
        <MudNavLink Href="/blog-list" Match="NavLinkMatch.Prefix">Blog List</MudNavLink>
    </MudNavGroup>




    @*CRM*@
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">CRM</MudText>
    </div>

    <MudNavGroup Title="Vouchers" Expanded="false">
        <MudNavLink Href="/general-voucher" Match="NavLinkMatch.Prefix">General Voucher</MudNavLink>
        <MudNavLink Href="/instant-voucher" Match="NavLinkMatch.Prefix">Instant Voucher</MudNavLink>
        <MudNavLink Href="/product-voucher" Match="NavLinkMatch.Prefix">Product Voucher</MudNavLink>
        <MudNavLink Href="/user-voucher" Match="NavLinkMatch.Prefix">User Voucher</MudNavLink>
        <MudNavLink Href="/store-voucher" Match="NavLinkMatch.Prefix">Store Voucher</MudNavLink>
    </MudNavGroup>


    @*OMS*@
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">OMS</MudText>
    </div>


    <MudNavLink Href="/customer-pos" Match="NavLinkMatch.Prefix">Customer POS</MudNavLink>

    <MudNavGroup Title="Order Management" Expanded="false">
        <MudNavLink Href="/pending-order" Match="NavLinkMatch.Prefix">Pending Order</MudNavLink>
        <MudNavLink Href="/order-details" Match="NavLinkMatch.Prefix">Order Details</MudNavLink>
        <MudNavLink Href="/closed-orders" Match="NavLinkMatch.Prefix">Closed Orders</MudNavLink>
        <MudNavLink Href="/place-order" Match="NavLinkMatch.Prefix">Place Order</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Order Processing" Expanded="false">
        <MudNavLink Href="/picklist" Match="NavLinkMatch.Prefix">Picklist</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Outbound" Expanded="false">
        <MudNavLink Href="/assign-delivery" Match="NavLinkMatch.Prefix">Assign Delivery</MudNavLink>
        <MudNavLink Href="/manage-run" Match="NavLinkMatch.Prefix">Manage Run</MudNavLink>
    </MudNavGroup>

    <MudNavLink Href="/return-management" Match="NavLinkMatch.Prefix">Return Management</MudNavLink>

    <MudNavGroup Title="Report" Expanded="false">
        <MudNavLink Href="/all-orders" Match="NavLinkMatch.Prefix">All Orders</MudNavLink>
        <MudNavLink Href="/tat-report" Match="NavLinkMatch.Prefix">TAT Report</MudNavLink>
        <MudNavLink Href="/feedback-report" Match="NavLinkMatch.Prefix">Feedback Report</MudNavLink>
    </MudNavGroup>

    <MudNavLink Href="/zones" Match="NavLinkMatch.Prefix">Zones</MudNavLink>

    @*HRM*@
    <div class="d-flex justify-center mt-5">
        <MudText Class="border-2 px-4 py-1">HRM</MudText>
    </div>

    <MudNavGroup Title="Adminastration" Expanded="false">
        <MudNavLink Href="/user-account" Match="NavLinkMatch.Prefix">User Account</MudNavLink>
        <MudNavLink Href="/fleet-management" Match="NavLinkMatch.Prefix">Fleet Management</MudNavLink>
        <MudNavLink Href="/hub-management" Match="NavLinkMatch.Prefix">Hub Management</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
