@using Blazored.TextEditor

<MudPaper Class="pa-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<MudForm Class="mb-10" @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                    <MudGrid>
						<MudItem sm="6">
							<MudTextField T="string" Label="Product Name" Required="true" RequiredError="Product Name is required!"/>
						</MudItem>
						<MudItem sm="6">
							<MudAutocomplete T="string" Label="Brand" ResetValueOnEmptyText="true" Required="true"/>
						</MudItem>
						<MudItem sm="6">
							<MudAutocomplete T="string" Label="Origin" ResetValueOnEmptyText="true" Required="true" />
						</MudItem>
					</MudGrid>
            </MudForm>

			<BlazoredTextEditor @ref="@QuillNative" Placeholder="Enter non HTML format like centering...">
            <ToolbarContent>
                <span class="ql-formats">
                    <select class="ql-font">
                        <option selected=""></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                    </select>
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected=""></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                    <select class="ql-align">
                        <option selected=""></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                    </select>
                </span>
                <span class="ql-formats">
                    <button class="ql-link"></button>
                </span>
            </ToolbarContent>
        </BlazoredTextEditor>

        <div class="d-flex justify-end mt-5">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)">Submit</MudButton>
        </div>
	</MudContainer>
</MudPaper>

@code {
	bool success;
    string[] errors = { };
    MudForm form;

    // Rich Text Editor
    BlazoredTextEditor QuillNative;
}
