@using Carnesia.Domain.CMS.Product
<MudPaper Class="px-16 pb-16 pt-10 ma-2 mt-10">
	<MudContainer Fixed="true">
		<MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <MudGrid>
                    <MudItem md="6">
                        <MudTextField T="string" Label="Product Name" Required="true" RequiredError="Product name is required!"/>
                        <MudTextField T="string" Label="Product SKU" Required="true" RequiredError="Product SKU is required!"/>
                        <MudAutocomplete T="string" Label="Brand" ResetValueOnEmptyText="@true" Required="true" RequiredError="Product SKU is required!" />
                        <MudTextField T="int?" Label="Delivary Day Preorder" Required="true" RequiredError="Delivary Day Preorder is required!"/>
                    </MudItem>
                    <MudItem md="6">
                        <MudTextField T="string" Label="Product Weight" Required="true" RequiredError="Product weight is required!"/>
                        <MudTextField T="string" Label="Product Dimension" Required="true" RequiredError="Product dimension is required!"/>
                        <MudTextField Style="margin-top: 0;" T="string" Label="Description" Required="true" RequiredError="Description is required!" Lines="5"/>
                    </MudItem>
                </MudGrid>

                <div class="d-flex flex-column">
                    <MudCheckBox T="bool" Class="ml-n2" Label="Is Pre-Order!"/>
                    <MudCheckBox T="bool" Class="ml-n2" Label="Is Publish!"/>
                    <MudCheckBox T="bool" Class="ml-n2" Label="Is Has Free Product!"/>
                </div>

                <div class="d-flex align-center justify-end mt-6">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Submit</MudButton>
                </div>
        </MudForm>
	</MudContainer>
</MudPaper>

@code {
    // Form Ref
    private MudForm form;
    private bool success;
    private string[] errors = { };
}
