<MudDialog>
    <DialogContent>
        <div class="d-flex justify-center">
            <MudImage Src="@($"https://localhost:7090/{ImageUrl}")" Alt="" Style="width: 90%;" />
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }
}
